General:
  # Available Logger Levels: "Request", "Debug", "Info", "Change", "Success", "Warning", "Error"
  LoggerLevel: 'Request'
  # Activate File Logs (File "var/logs/") [True / False]
  FileLogger: True
  # Available FileLogger Levels: "Request", "Debug", "Info", "Change", "Success", "Warning", "Error"
  FileLoggerLevel: 'Change'
  # Activate Caching [True / False]
  Cache: True

Detector:
  # Available default Detectors: "avm", "api", !!-> "generic" <- TEST ONLY, NOT STABLE!!
  Name: "avm"
  # URL from the local Entrypoint Router (Only important for the Detector "avm"!) (Optional)
  URL:  "fritz.box"
  # IPv6 Local (GlobalUnicast) Network Prefix-Length (Optional)
  IPv6PrefixLength: 56
  # Activate IPv4 Updating [True / False]
  IPv4: True
  # Activate IPv6 Updating [True / False]
  IPv6: True

Modules:
  - Name: "ddnss-1"
    Service: "DynDNS"
    UpdateUrl: "https://ddnss.de/upd.php"
    UpdateKey: "UPDATEKEY"
  - Name: "ipv64-1"
    Service: "IPv64"
    # Custom UpdateUrl
    #UpdateUrl: "https://ipv64.net/nic/update"
    UpdateKey: "UPDATEKEY"
    # Custom ApiUrl
    #ApiUrl: "https://ipv64.net/api"
    ApiKey: "APIKEY"
    NetworkPrefix: True
  - Name: "netcup-1"
    Service: "Netcup"
    # CustomerNr
    Username: "CUSTOMERNR"
    # ApiPassword
    Password: "APIPASSWORT"
    ApiKey: "APIKEY"
    # Custom ApiUrl
    #ApiUrl: "https://ccp.netcup.net/run/webservice/servers/endpoint.php?JSON"

Domains:
  - Domain: "quengel.ddnss.de"
    Module: "ddnss-1"
    Subdomains:
      - Subdomain: "@"
        IPv4: "202.61.230.47"
        IPv6: "::7335:fef4:f905:31ae"

  - Domain: "quengel.home64.de"
    Module: "ipv64-1"
    Subdomains:
      - Subdomain: "@"
        IPv6: "::7335:fef4:f905:30ae"

  - Domain: "quenter.eu"
    Module: "netcup-1"
    Subdomains:
      - Subdomain: "test"